[Unit]
Description=Impala Query Killer
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ install_dir }}/src
ExecStart=/usr/bin/python3 {{ install_dir }}/src/query_killer.py --config {{ install_dir }}/config/query_killer.conf
Restart=always
RestartSec=10
StandardOutput=append:{{ install_dir }}/logs/query_killer.log
StandardError=append:{{ install_dir }}/logs/query_killer.log

[Install]
WantedBy=multi-user.target
